body {
	background-color: #222222;
	color: white;
	font-family: 'Futura-Medium', 'Futura', 'Trebuchet MS', sans-serif;
}

#main {
	background-color: #666666;
	width: 800px;
        margin-left: auto;
        margin-right: auto;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
	padding-right: 50px;
}

#header {
	text-align: center;
	font-size: 40px;
}

#showsTable {
        border: 0px solid red;
        margin-left: auto;
        margin-right: auto;
	    padding: 0px;
        width: 700px;
        position: relative;
}

#showsTable td {
    padding-left: 20px;
}

#login-link {
	float: left;
	cursor: pointer;
}

label {
    float: left;
}

.edit_button, .delete_button, #addButton {
    cursor: pointer;
}

